version: '3.8'

services:
  #servico db
  db:
    image: mysql:8.0
    container_name: festival_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      #carregar sql
      - ./database:/docker-entrypoint-initdb.d 

  #servico api
  api:
    build: .
    container_name: festival_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
    volumes:
      - ./src:/usr/src/app/src
      - /usr/src/app/node_modules

volumes:
  db_data: